
body {
    background-color: #f5f5dc; /* beige */
    font-family: 'Georgia', serif;
    color: #5c4033; /* marrón suave */
    text-align: center;
    margin: 0;
    padding: 0;
  }

  header img {
    display: block;
    margin: 20px auto;
    max-width: 150px;
    border: 3px solid #eec9d2; /* rosita suave */
    padding: 10px;
    border-radius: 15px;
  }

  h1 {
    color: white;
    background-color: #cc004e; /* rosita fuerte vintage */
    border: 2px solid #5c4033;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 30px auto;
    display: inline-block;
  }
  

  h2 {
    color: #5c4033;
    background-color: #fffaf0; /* blanco vintage */
    border: 2px dashed #cc004e;
    border-radius: 15px;
    padding: 8px 16px;
    margin: 25px auto;
    display: inline-block;
  }
  
 
  nav a {
    margin: 0 10px;
    color: #cc004e;
    text-decoration: none;
    font-weight: bold;
  }
  
  p {
    background-color: #fffaf0;
    border: 1px solid #deb887;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 8px 0;
    color: #5c4033;
  }
  

  table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 90%;
    background-color: #fffaf0;
    color: #5c4033;
  }
  
  table, th, td {
    border: 1px solid #d2b48c;
    padding: 10px;
  }
  
  img {
    object-fit: cover;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid #d2b48c;
    border-radius: 12px;
    display: block;
  }
  